PORT=3000
CLIENT_URL=
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
VITE_API_URL=
ADMIN_NAME=Store Administrator
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin@123
CUSTOMER_EMAIL=customer@gmail.com
CUSTOMER_PASSWORD=admin@123
