PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce_platform
CLIENT_URL=http://localhost:5173
JWT_SECRET=super_secret_jwt_key_12345
JWT_EXPIRES_IN=7d
ADMIN_NAME=Store Administrator
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin@123
CUSTOMER_EMAIL=customer@gmail.com
CUSTOMER_PASSWORD=admin@123

